<h1>Coffee Maker Inventory</h1>
 
<table>
  <tr>
    <th>Product Type</th>
    <th>Water Level</th>
    <th>SKU</th>
  </tr>
 
  <% @coffee_maker.each do |coffee_maker| %>
    <tr>
      <td><%= coffee_maker.product_type %></td>
      <td><%= coffee_maker.water_line_compatible %></td>
      <td><%= coffee_maker.sku %></td>
      <td><%= link_to 'Show', coffee_maker_path(coffee_maker) %></td>
      <td><%= link_to 'Edit', edit_coffee_maker_path(coffee_maker) %></td>
      <td><%= link_to 'Destroy', coffee_maker_path(coffee_maker),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Add Coffee Maker', new_coffee_maker_path %>