<h1>Add a Coffee Maker to Inventory</h1>
<%= form_for :coffee_maker, url: coffee_makers_path do |f| %>
	<p>
		<%= f.label :product_type %><br>
    	<%= f.select :product_type, ['COFFEE_MACHINE_LARGE', 'COFFEE_MACHINE_SMALL', 'ESPRESSO_MACHINE']%>
	</p>
	<p>
		<%= f.label :water_line_compatible %><br>
    	<%= f.select :water_line_compatible, [true, false]%>
	</p>
	<p>
		<%= f.label :sku %><br>
		<%= f.text_field :sku %>
	</p>

	<p>
		<%= f.submit %>
	</p>
	<%= link_to 'Back', coffee_makers_path %>
<% end %>