<h1>Coffee Pod Inventory</h1>
 
<table>
  <tr>
    <th>Product Type</th>
    <th>Coffee Flavor</th>
    <th>Pack Size</th>
    <th>SKU</th>
  </tr>
 
  <% @coffee_pod.each do |coffee_pod| %>
    <tr>
      <td><%= coffee_pod.product_type %></td>
      <td><%= coffee_pod.coffee_flavor %></td>
      <td><%= coffee_pod.pack_size %></td>
      <td><%= coffee_pod.sku %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'View Coffee Makers', coffee_makers_path %><br>
<%= link_to 'Home', root_path %>